<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269004586530-3d3joqrh2gngakon7ov07r7th3ra608v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269004586530-3d3joqrh2gngakon7ov07r7th3ra608v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269004586530-2bu8j7rq8ped86678tmhceme2e1btlnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhU6vM2GjstMONHAJDP7OukpfdXDrWx7o</string>
	<key>GCM_SENDER_ID</key>
	<string>269004586530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.besocial.app</string>
	<key>PROJECT_ID</key>
	<string>besocial-4a450</string>
	<key>STORAGE_BUCKET</key>
	<string>besocial-4a450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269004586530:ios:634b5cb60d187750ce147b</string>
</dict>
</plist>