<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About</key>
	<string>$(About)</string>
	<key>AccountKitClientToken</key>
	<string>3896b179665f722633d15e13c39b0ee9</string>
	<key>AndroidPackageName</key>
	<string>$(AndroidPackageName)</string>
	<key>AppMailId</key>
	<string>$(AppMailId)</string>
	<key>AppUrl</key>
	<string>$(AppUrl)</string>
	<key>App_Name</key>
	<string>$(App_Name)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>MyBackgroundTask</string>
	</array>
	<key>Base_Url</key>
	<string>$(Base_Url)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak663578507442316</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb663578507442316</string>
				<string>com.3embed.picoadda</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1674519595980403</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CUSTOM_URL_SCHEME</key>
	<string>$(CUSTOM_URL_SCHEME)</string>
	<key>Call_Url</key>
	<string>$(Call_Url)</string>
	<key>Constant_Url</key>
	<string>$(Constant_Url)</string>
	<key>DynamicLinkUrlForPost</key>
	<string>$(DynamicLinkUrlForPost)</string>
	<key>DynamicLinkUrlForProfile</key>
	<string>$(DynamicLinkUrlForProfile)</string>
	<key>FacebookAppID</key>
	<string>$(FaceBookAppID)</string>
	<key>Flowtype</key>
	<string>$(Flowtype)</string>
	<key>General</key>
	<string>$(General)</string>
	<key>HelpAndFeedback</key>
	<string>$(HelpAndFeedback)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>instagram</string>
		<string>fbauth2</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MQTT_AUTH_PASSWORD</key>
	<string>$(MQTT_AUTH_PASSWORD)</string>
	<key>MQTT_AUTH_USER</key>
	<string>$(MQTT_AUTH_USER)</string>
	<key>MQTT_Host</key>
	<string>$(MQTT_Host)</string>
	<key>MQTT_PORT</key>
	<string>$(MQTT_PORT)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>We would use your Media Library for sharing your photo and video.</string>
	<key>NSCameraUsageDescription</key>
	<string>We would use your Camera for sharing your photo for you profile and share your post.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) syncs only phone numbers from your address book to $(PRODUCT_NAME) servers to help you connect with other $(PRODUCT_NAME) users</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We would use your location for location share and help you to search posts according to location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We would use your Microphone for Audio, video calling and video recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We would use your photo Library for sharing your photo and video.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We would use your photo Library for sharing your photo and video.</string>
	<key>OneSignalAppID</key>
	<string>$(OneSignalAppID)</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.3embed.picoadda.onesignal</string>
	<key>PaymentHelpCenter</key>
	<string>$(PaymentHelpCenter)</string>
	<key>PaymentSecurity</key>
	<string>$(PaymentSecurity)</string>
	<key>PrivacyPolicy</key>
	<string>$(PrivacyPolicy)</string>
	<key>Python_Url</key>
	<string>$(Python_Url)</string>
	<key>ServicesUrl</key>
	<string>$(ServicesUrl)</string>
	<key>Socket_Url</key>
	<string>$(Socket_Url)</string>
	<key>StarTermsConditions</key>
	<string>$(StarTermsConditions)</string>
	<key>StreamBase_Url</key>
	<string>$(StreamBase_Url)</string>
	<key>Stream_Url</key>
	<string>$(Stream_Url)</string>
	<key>Stripe_Key</key>
	<string>$(Stripe_Key)</string>
	<key>TermsConditionUrl</key>
	<string>$(TermsConditionUrl)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>iOSBundleId</key>
	<string>$(iOSBundleId)</string>
	<key>keyChainAccount</key>
	<string>$(keyChainAccount)</string>
</dict>
</plist>
