<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dub.ly.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>ACEDrawingView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>APAddressBook.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Cloudinary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DGElasticPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>EVURLCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Gemini.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Locksmith.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>MQTTClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>ParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>QuiltView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>ReachabilitySwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RxAlamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RxReachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SCRecorder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>TLPhotoPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>UICircularProgressRing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>VGPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>libPhoneNumber_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5A693V6KR5</string>
						<key>name</key>
						<string>3Embed Software Technologies private limited</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>dub.ly.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5A693V6KR5</string>
				<key>name</key>
				<string>3Embed Software Technologies private limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
